@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
    height: 100%; width:100%;
    font-size: 16px;
    overflow-x: hidden;
}
#__next{
}

.slick-prev:before,.slick-next:before{
    content:'';
}
/* input number remove arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-color-swatch{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    border: none;
    border-color: transparent;
}
input:focus {outline:none!important;}

/* header items */
.highlight:hover::before{
    content: '';
    border-bottom:5px solid orange;
    display: block;
    position: absolute;
    bottom: -35px;
    width: 100%;
    cursor: pointer;
}
/* close icon header menu */
.closeIconGray path{
    fill: hsl(223, 64%, 98%);
}