@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{
    height: 100%; width:100%;
    font-size: 16px;
}
#__next{
    height: 100%; width:100%;
}

.slick-prev:before,.slick-next:before{
    content:'';
}

.highlight:hover::before{
    content: '';
    border-bottom:5px solid orange;
    display: block;
    position: absolute;
    bottom: -45px;
    width: 100%;
    /* left: 35%; */
    cursor: pointer;
}
.thumbnailImageBorder{
    border: 5px solid orange !important;
}
.closeIconGray path{
    fill: hsl(223, 64%, 98%);
}